@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Aktiv Grotesk Medium', sans-serif;
}

p {
    font-family: 'Aktiv Grotesk Light', sans-serif;
}

h2 {
    line-height: 45px;
}